@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.card-hover:hover{
    background-color: rgba(0, 0, 255, 0.324);
}
/* for responsive */
/* @media only screen and (min-width: 768px){
    .parent {
        position: relative;
    }
    .child {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
} */